* {box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans CJK KR','Roboto Mono', monospace;
}

body{
    /* background: #000; */
    width: 1920px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper {
    width: 540px;
    height: 960px;
    background: #FFFFFF;
    border: 1px solid #AACDFF;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    border-radius: 20px;

    position: absolute;
    top: 60px;
    left: 230px;
    /* left: 625px; */

    display: flex;
    flex-direction: column;
    align-items: center;

}

.wrapper__title{
    width: 380px;
    height: 47px;
    /* background-color: pink; */
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 32px;
    line-height: 47px;
    color: #0068FF;

    margin-top: 60px;
}


.wrapper__top{
    width: 380px;
    height: 300px;
    /* background-color: yellowgreen; */
    margin-bottom: 60px;
}


.topinput {
    width: 100%;
    height: 60px;
    border: 1px solid #0068FF;
    box-sizing: border-box;
    border-radius: 7px;
    line-height: 24px;
    color: #797979;
    font-size: 16px;
    margin-bottom: 20px;
}


#phone1, #phone2, #phone3 {
    width: 100px;
    height: 40px;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 7px;
}

.phonenumber{
    width: 380px;
    height: 40px;
    /* background-color: orange; */
    margin-bottom: 26px;
}

.timer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.timer__top {
    width: 200px ;
    height: 50px;
    /* background-color: green; */
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
}

.timer__bottom{
    width: 176px ;
    height: 50px;
    /* background-color: green; */
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
}

.timernum{
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: #0068FF;
    margin-right: 15px;
}

.timerbtn {
    width: 120px;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #0068FF;
    border-radius: 10px;
    border: 1px solid #0068FF;
    background-color: #fff;
}



.wrapper__bottom {
    margin-bottom: 20px;
}

.place {
    width: 380px;
    height: 60px;
    padding-left: 20px;
}


.genderbox{
    width: 100%;
    /* background-color: #0068FF; */
    padding-top: 31px;
    padding-bottom: 50px;
    box-sizing: border-box;
    text-align: center;
}

.gender .dot{
    background: #ebebeb;
    border: 1px solid #d2d2d2;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.genderbox .sp1 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000;
}


.check .sp2{
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}


.divideLine{
    width: 380px;
    height: 1px;
    
    background: #E6E6E6;
}


.signup{
    width: 380px ;
    height: 75px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #0068FF;
    background: #fff;
    text-align: center;
    font-size: 18px; 
    line-height: 27px;
    color: #0068FF;
    position: absolute;
    bottom: 0;
    display: block;
    
}
